/*body {*/
/*    margin: 8px;*/
/*}*/
input {
  margin-bottom: 10px;
}

.wbdv-add-course {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2rem;
  font-size: 2rem;
}
.wbdv-hidden {
  display: none;
}
